<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let image of images; index as i" (click)="openModal(i)">
    <app-blurhash-img #image [blurHash]="image.blurhash" [imageSrc]="image.url" class="animate"></app-blurhash-img>
  </ion-card>
</ion-content>

<app-page-shadow></app-page-shadow>
