:host {
    background: white;
}

app-blurhash-img {
    // for correct image size specify fixed width or height or aspect ratio as below
    // reference: https://stackoverflow.com/a/10441480/197913
    width: 100%;
    padding-bottom: 66.66%;

    &.maximized {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10;
    }
}

ion-card.hidden {
    opacity: 0;
}
