<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Items
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Items</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" *ngIf="items == null">
    <ion-spinner></ion-spinner>
  </div>

  <ion-list lines="none" *ngIf="items != null">
    <ion-item *ngFor="let item of items; index as i"
              (click)="pushDetail()"
              [style.--duration]="popOutAnimationDurationMs + 'ms'"
              [style.--item-height]="itemHeight"
              [style.--animation-offset]="itemAnimationData && itemAnimationData[i].offset || 0"
              [style.--animation-order]="i"
              [ngClass]="getPopOutAnimationCssClass(i)">
      <ion-label>{{item.title}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<app-page-shadow></app-page-shadow>
