#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

ion-content ion-toolbar {
  --background: translucent;
}

ion-item {
  --background: transparent;
  animation: popIn 0.2s calc(var(--animation-order) * 70ms) both ease-in;
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.9) translateY(10px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.popout-up {
  animation: popOutUp 0.4s both ease-in;
}

@keyframes popOutUp {
  0% {
    opacity: 1;
    transform: none;
  }

  100% {
    opacity: 0.3;
    transform: translateY(calc(-1px * var(--item-height) * var(--animation-offset))) translateX(-50px) scale(1.4);
  }
}

.popout-down {
  animation: popOutDown 0.4s both ease-in;
}

@keyframes popOutDown {
  0% {
    opacity: 1;
    transform: none;
  }

  100% {
    opacity: 0.3;
    transform: translateY(calc(1px * var(--item-height) * var(--animation-offset))) translateX(-50px) scale(1.4);
  }
}