:host {
    display: block;
    position: relative;
}

canvas {
    width: 100%;
    height: 100%;
    position: absolute;
}

img {
    width: 100%;
    height: 100%;
    position: absolute;
}

:host(.animate) {

    img {
        opacity: 0;
    }

    .img-loaded {
        animation: popIn 0.4s both ease-in;
    }
}

@keyframes popIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
